.gridContainer {
  display: grid;
  grid-template-areas: "header header" "mainCol mainCol";


}

.header {
  grid-area: header;
}

.mainCol {
  grid-area: mainCol;
  height: 89.5vh;
  /* background-color: aqua; */
  background-image:
  linear-gradient(
    #653496, #74B652
  );
}